
@model IEnumerable<VidlyTwo.Models.Customer>
@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>
<br />
@if (Model.Any())
{
    <table id="customers" class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membserhip Type</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach (var customer in Model)
        {
            <tr>
                <td> @Html.ActionLink(@customer.Name, "Edit", "Customers", new {id = @customer.Id}, null)</td>
                <td>@customer.MembershipType.Name</td>
                <td>
                    <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </table>

}
else
{
    <p>We don't have any customers yet.</p>

}

@section scripts{
    <script>
        $(document).ready(function() {
            $("#customers .js-delete").on("click",
                function() {
                    var button = $(this);
                    bootbox.confirm(("Are you sure you want to delete this customer?"),
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/customers/" + button.attr("data-customer-id"),
                                    method: "DELETE",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });
        });
    </script>
}